.ua-alter-grid .ua-post-grid {
  display: grid;
  grid-gap: 20px; }

.ua-alter-grid .ua-item {
  position: relative;
  display: flex;
  overflow: hidden;
  transition: all .3s ease; }
  .ua-alter-grid .ua-item:hover .ua-img {
    transform: scale(1.1); }
  .ua-alter-grid .ua-item:hover .ua-readmore-on-image .ua-readmore-icon:before {
    left: 0;
    width: 50px;
    background: #ffffff;
    transition-delay: 0.1s;
    opacity: 1; }
  .ua-alter-grid .ua-item:hover .ua-readmore-on-image .ua-readmore-icon span:before,
  .ua-alter-grid .ua-item:hover .ua-readmore-on-image .ua-readmore-icon span:after {
    left: 21px;
    background: #ffffff;
    opacity: 1; }
  .ua-alter-grid .ua-item:hover .ua-readmore-on-image .ua-readmore-icon span:after {
    transform: scale(1) rotate(-45deg); }
  .ua-alter-grid .ua-item:hover .ua-readmore-on-image .ua-readmore-icon span:before {
    transform: scale(1) rotate(45deg); }

.ua-alter-grid .ua-item-box {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%; }

.ua-alter-grid .ua-img-wrap {
  position: relative;
  display: flex; }
  .ua-alter-grid .ua-img-wrap .ua-main-img {
    overflow: hidden;
    display: flex;
    width: 100%; }
    .ua-alter-grid .ua-img-wrap .ua-main-img .ua-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94); }

.ua-alter-grid .ua-content {
  display: flex;
  padding: 30px;
  height: 100%; }
  .ua-alter-grid .ua-content > div {
    display: flex;
    flex-direction: column; }

.ua-alter-grid .ua-category {
  margin-bottom: 10px;
  z-index: 1; }
  .ua-alter-grid .ua-category a {
    color: #909aae;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.1px;
    transition: all .3s ease-in-out;
    background-clip: padding-box;
    -moz-background-clip: padding;
    -webkit-background-clip: padding; }
    .ua-alter-grid .ua-category a:hover {
      color: #EF233C; }

.ua-alter-grid .ua-title {
  margin-top: 0;
  line-height: 1.4;
  font-weight: 600; }
  .ua-alter-grid .ua-title a {
    color: #2B2D42;
    transition: all 0.5s ease; }
    .ua-alter-grid .ua-title a:hover {
      color: #EF233C; }

.ua-alter-grid .ua-text-wrap {
  flex-grow: 1; }
  .ua-alter-grid .ua-text-wrap .ua-text {
    line-height: 1.5;
    letter-spacing: .5px;
    color: #8D99AE; }
    .ua-alter-grid .ua-text-wrap .ua-text p {
      margin: 0; }

.ua-alter-grid .ua-meta {
  display: inline-flex;
  align-items: center;
  font-size: 12px;
  color: #8D99AE;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1; }
  .ua-alter-grid .ua-meta .author-name {
    color: #8D99AE; }
  .ua-alter-grid .ua-meta .ua-post-time {
    margin-left: 5px; }
    .ua-alter-grid .ua-meta .ua-post-time i {
      margin-right: 2px; }
  .ua-alter-grid .ua-meta .ua-separator {
    margin: 0 6px; }

.ua-alter-grid .ua-readmore {
  color: #2B2D42;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: .5px;
  margin: 20px 0;
  transition: all .3s ease; }
  .ua-alter-grid .ua-readmore:hover {
    color: #EF233C; }

.ua-alter-grid .ua-readmore-on-image {
  position: absolute;
  height: 100%;
  width: 100%; }
  .ua-alter-grid .ua-readmore-on-image .ua-readmore-icon {
    position: absolute;
    left: calc(50% - 25px);
    top: 50%;
    transform: translate(-50%, -50%); }
    .ua-alter-grid .ua-readmore-on-image .ua-readmore-icon:before {
      content: '';
      position: absolute;
      left: -30px;
      height: 5px;
      width: 0;
      background: rgba(255, 255, 255, 0.5);
      transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
      opacity: 0; }
    .ua-alter-grid .ua-readmore-on-image .ua-readmore-icon span:before,
    .ua-alter-grid .ua-readmore-on-image .ua-readmore-icon span:after {
      content: '';
      position: absolute;
      left: -15px;
      width: 40px;
      height: 5px;
      background: transparent;
      transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
      opacity: 0; }
    .ua-alter-grid .ua-readmore-on-image .ua-readmore-icon span:after {
      transform: scale(0.7) rotate(-45deg);
      bottom: -17px; }
    .ua-alter-grid .ua-readmore-on-image .ua-readmore-icon span:before {
      transform: scale(0.7) rotate(45deg);
      top: -13px; }
  .ua-alter-grid .ua-readmore-on-image:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%; }

.ua-alter-grid .ua-style-1 {
  grid-template-columns: repeat(1, 1fr); }
  .ua-alter-grid .ua-style-1 .ua-item:nth-child(n+1) .ua-content {
    padding: 30px;
    align-items: flex-start; }
  .ua-alter-grid .ua-style-1 .ua-item:nth-child(n+1) .ua-title {
    margin-bottom: 10px;
    font-size: 16px; }
  .ua-alter-grid .ua-style-1 .ua-item:nth-child(n+1) .ua-text-wrap {
    margin-bottom: 20px; }
    .ua-alter-grid .ua-style-1 .ua-item:nth-child(n+1) .ua-text-wrap .ua-text {
      font-size: 13px; }

.ua-alter-grid .ua-style-2 {
  grid-template-columns: repeat(6, 1fr); }
  .ua-alter-grid .ua-style-2 .ua-item:nth-child(4n+1) {
    grid-column: span 6/auto;
    grid-row: span 3/auto; }
    .ua-alter-grid .ua-style-2 .ua-item:nth-child(4n+1) .ua-content {
      align-items: center; }
    .ua-alter-grid .ua-style-2 .ua-item:nth-child(4n+1) .ua-title {
      margin-bottom: 10px;
      font-size: 16px; }
    .ua-alter-grid .ua-style-2 .ua-item:nth-child(4n+1) .ua-text-wrap {
      margin-bottom: 20px; }
      .ua-alter-grid .ua-style-2 .ua-item:nth-child(4n+1) .ua-text-wrap .ua-text {
        font-size: 13px; }
  .ua-alter-grid .ua-style-2 .ua-item:nth-child(4n+2), .ua-alter-grid .ua-style-2 .ua-item:nth-child(4n+3), .ua-alter-grid .ua-style-2 .ua-item:nth-child(4n+4) {
    grid-column: span 6/auto; }
    .ua-alter-grid .ua-style-2 .ua-item:nth-child(4n+2) .ua-item-box, .ua-alter-grid .ua-style-2 .ua-item:nth-child(4n+3) .ua-item-box, .ua-alter-grid .ua-style-2 .ua-item:nth-child(4n+4) .ua-item-box {
      display: flex;
      flex-direction: inherit; }
    .ua-alter-grid .ua-style-2 .ua-item:nth-child(4n+2) .ua-img-wrap .ua-main-img, .ua-alter-grid .ua-style-2 .ua-item:nth-child(4n+3) .ua-img-wrap .ua-main-img, .ua-alter-grid .ua-style-2 .ua-item:nth-child(4n+4) .ua-img-wrap .ua-main-img {
      width: 120px; }
    .ua-alter-grid .ua-style-2 .ua-item:nth-child(4n+2) .ua-content, .ua-alter-grid .ua-style-2 .ua-item:nth-child(4n+3) .ua-content, .ua-alter-grid .ua-style-2 .ua-item:nth-child(4n+4) .ua-content {
      padding: 10px;
      align-items: center; }
    .ua-alter-grid .ua-style-2 .ua-item:nth-child(4n+2) .ua-title, .ua-alter-grid .ua-style-2 .ua-item:nth-child(4n+3) .ua-title, .ua-alter-grid .ua-style-2 .ua-item:nth-child(4n+4) .ua-title {
      margin-bottom: 2px;
      font-size: 12px;
      flex-grow: 1; }
    .ua-alter-grid .ua-style-2 .ua-item:nth-child(4n+2) .ua-category,
    .ua-alter-grid .ua-style-2 .ua-item:nth-child(4n+2) .ua-text-wrap, .ua-alter-grid .ua-style-2 .ua-item:nth-child(4n+3) .ua-category,
    .ua-alter-grid .ua-style-2 .ua-item:nth-child(4n+3) .ua-text-wrap, .ua-alter-grid .ua-style-2 .ua-item:nth-child(4n+4) .ua-category,
    .ua-alter-grid .ua-style-2 .ua-item:nth-child(4n+4) .ua-text-wrap {
      display: none; }

.ua-alter-grid .ua-style-3 {
  grid-template-columns: repeat(6, 1fr); }
  .ua-alter-grid .ua-style-3 .ua-item:nth-child(1) {
    grid-column: span 6/auto; }
    .ua-alter-grid .ua-style-3 .ua-item:nth-child(1) .ua-content {
      align-items: center; }
    .ua-alter-grid .ua-style-3 .ua-item:nth-child(1) .ua-title {
      margin-bottom: 10px;
      font-size: 16px; }
    .ua-alter-grid .ua-style-3 .ua-item:nth-child(1) .ua-text-wrap {
      margin-bottom: 20px; }
      .ua-alter-grid .ua-style-3 .ua-item:nth-child(1) .ua-text-wrap .ua-text {
        font-size: 13px; }
  .ua-alter-grid .ua-style-3 .ua-item:nth-child(5n+2), .ua-alter-grid .ua-style-3 .ua-item:nth-child(5n+3), .ua-alter-grid .ua-style-3 .ua-item:nth-child(5n+4), .ua-alter-grid .ua-style-3 .ua-item:nth-child(5n+5) {
    grid-column: span 6/auto; }
    .ua-alter-grid .ua-style-3 .ua-item:nth-child(5n+2) .ua-content, .ua-alter-grid .ua-style-3 .ua-item:nth-child(5n+3) .ua-content, .ua-alter-grid .ua-style-3 .ua-item:nth-child(5n+4) .ua-content, .ua-alter-grid .ua-style-3 .ua-item:nth-child(5n+5) .ua-content {
      padding: 20px;
      align-items: center; }
    .ua-alter-grid .ua-style-3 .ua-item:nth-child(5n+2) .ua-title, .ua-alter-grid .ua-style-3 .ua-item:nth-child(5n+3) .ua-title, .ua-alter-grid .ua-style-3 .ua-item:nth-child(5n+4) .ua-title, .ua-alter-grid .ua-style-3 .ua-item:nth-child(5n+5) .ua-title {
      margin-bottom: 10px;
      font-size: 16px;
      flex-grow: 1; }
    .ua-alter-grid .ua-style-3 .ua-item:nth-child(5n+2) .ua-category,
    .ua-alter-grid .ua-style-3 .ua-item:nth-child(5n+2) .ua-text-wrap, .ua-alter-grid .ua-style-3 .ua-item:nth-child(5n+3) .ua-category,
    .ua-alter-grid .ua-style-3 .ua-item:nth-child(5n+3) .ua-text-wrap, .ua-alter-grid .ua-style-3 .ua-item:nth-child(5n+4) .ua-category,
    .ua-alter-grid .ua-style-3 .ua-item:nth-child(5n+4) .ua-text-wrap, .ua-alter-grid .ua-style-3 .ua-item:nth-child(5n+5) .ua-category,
    .ua-alter-grid .ua-style-3 .ua-item:nth-child(5n+5) .ua-text-wrap {
      display: none; }

.ua-primary-meta-end-position--yes .ua-style-1 .ua-item:nth-child(n+1) .ua-content {
  align-items: inherit; }

.ua-primary-meta-end-position--yes .ua-style-2 .ua-item:nth-child(4n+1) .ua-content,
.ua-primary-meta-end-position--yes .ua-style-3 .ua-item:nth-child(5n+1) .ua-content {
  align-items: inherit; }

.ua-secondary-meta-end-position--yes .ua-style-2 .ua-item:nth-child(4n+2) .ua-content, .ua-secondary-meta-end-position--yes .ua-style-2 .ua-item:nth-child(4n+3) .ua-content, .ua-secondary-meta-end-position--yes .ua-style-2 .ua-item:nth-child(4n+4) .ua-content {
  align-items: inherit; }

.ua-secondary-meta-end-position--yes .ua-style-3 .ua-item:nth-child(5n+2) .ua-content, .ua-secondary-meta-end-position--yes .ua-style-3 .ua-item:nth-child(5n+3) .ua-content, .ua-secondary-meta-end-position--yes .ua-style-3 .ua-item:nth-child(5n+4) .ua-content, .ua-secondary-meta-end-position--yes .ua-style-3 .ua-item:nth-child(5n+5) .ua-content {
  align-items: inherit; }

.ua-global-link-yes .ua-alter-grid .ua-item:hover {
  cursor: pointer; }

@media only screen and (min-width: 600px) {
  .ua-alter-grid .ua-style-1 {
    grid-template-columns: repeat(3, 1fr); }
    .ua-alter-grid .ua-style-1 .ua-item:nth-child(n+1) .ua-category a {
      font-size: 12px; }
    .ua-alter-grid .ua-style-1 .ua-item:nth-child(n+1) .ua-title {
      margin-bottom: 20px;
      font-size: 20px; }
    .ua-alter-grid .ua-style-1 .ua-item:nth-child(n+1) .ua-text-wrap .ua-text {
      font-size: 15px; }
  .ua-alter-grid .ua-style-2.ua-post-grid {
    grid-template-columns: repeat(8, 1fr); }
  .ua-alter-grid .ua-style-2 .ua-item:nth-child(4n+1) {
    grid-column: span 5/auto; }
    .ua-alter-grid .ua-style-2 .ua-item:nth-child(4n+1) .ua-item-box {
      display: flex;
      flex-direction: row; }
    .ua-alter-grid .ua-style-2 .ua-item:nth-child(4n+1) .ua-img-wrap {
      max-width: 50%;
      min-width: 50%; }
    .ua-alter-grid .ua-style-2 .ua-item:nth-child(4n+1) .ua-category a {
      font-size: 12px; }
    .ua-alter-grid .ua-style-2 .ua-item:nth-child(4n+1) .ua-title {
      margin-bottom: 20px;
      font-size: 20px; }
    .ua-alter-grid .ua-style-2 .ua-item:nth-child(4n+1) .ua-text-wrap .ua-text {
      font-size: 15px; }
  .ua-alter-grid .ua-style-2 .ua-item:nth-child(4n+2), .ua-alter-grid .ua-style-2 .ua-item:nth-child(4n+3), .ua-alter-grid .ua-style-2 .ua-item:nth-child(4n+4) {
    grid-column: span 3/auto;
    display: flex; }
    .ua-alter-grid .ua-style-2 .ua-item:nth-child(4n+2) .ua-item-box, .ua-alter-grid .ua-style-2 .ua-item:nth-child(4n+3) .ua-item-box, .ua-alter-grid .ua-style-2 .ua-item:nth-child(4n+4) .ua-item-box {
      display: flex;
      flex-direction: row; }
    .ua-alter-grid .ua-style-2 .ua-item:nth-child(4n+2) .ua-img-wrap .ua-main-img, .ua-alter-grid .ua-style-2 .ua-item:nth-child(4n+3) .ua-img-wrap .ua-main-img, .ua-alter-grid .ua-style-2 .ua-item:nth-child(4n+4) .ua-img-wrap .ua-main-img {
      width: 130px; }
    .ua-alter-grid .ua-style-2 .ua-item:nth-child(4n+2) .ua-content, .ua-alter-grid .ua-style-2 .ua-item:nth-child(4n+3) .ua-content, .ua-alter-grid .ua-style-2 .ua-item:nth-child(4n+4) .ua-content {
      padding: 15px; }
    .ua-alter-grid .ua-style-2 .ua-item:nth-child(4n+2) .ua-title, .ua-alter-grid .ua-style-2 .ua-item:nth-child(4n+3) .ua-title, .ua-alter-grid .ua-style-2 .ua-item:nth-child(4n+4) .ua-title {
      margin-bottom: 10px;
      line-height: 1.3;
      font-size: 16px;
      flex-grow: 1; }
    .ua-alter-grid .ua-style-2 .ua-item:nth-child(4n+2) .ua-category,
    .ua-alter-grid .ua-style-2 .ua-item:nth-child(4n+2) .ua-text-wrap, .ua-alter-grid .ua-style-2 .ua-item:nth-child(4n+3) .ua-category,
    .ua-alter-grid .ua-style-2 .ua-item:nth-child(4n+3) .ua-text-wrap, .ua-alter-grid .ua-style-2 .ua-item:nth-child(4n+4) .ua-category,
    .ua-alter-grid .ua-style-2 .ua-item:nth-child(4n+4) .ua-text-wrap {
      display: none; }
  .ua-alter-grid .ua-style-3 .ua-item:nth-child(5n+1) {
    grid-column: span 4/auto; }
    .ua-alter-grid .ua-style-3 .ua-item:nth-child(5n+1) .ua-item-box {
      display: flex;
      flex-direction: row; }
    .ua-alter-grid .ua-style-3 .ua-item:nth-child(5n+1) .ua-img-wrap {
      max-width: 50%;
      min-width: 50%; }
    .ua-alter-grid .ua-style-3 .ua-item:nth-child(5n+1) .ua-category a {
      font-size: 12px; }
    .ua-alter-grid .ua-style-3 .ua-item:nth-child(5n+1) .ua-title {
      margin-bottom: 20px;
      font-size: 20px; }
    .ua-alter-grid .ua-style-3 .ua-item:nth-child(5n+1) .ua-text-wrap .ua-text {
      font-size: 15px; }
  .ua-alter-grid .ua-style-3 .ua-item:nth-child(5n+2), .ua-alter-grid .ua-style-3 .ua-item:nth-child(5n+3), .ua-alter-grid .ua-style-3 .ua-item:nth-child(5n+4), .ua-alter-grid .ua-style-3 .ua-item:nth-child(5n+5) {
    grid-column: span 2/auto; }
    .ua-alter-grid .ua-style-3 .ua-item:nth-child(5n+2) .ua-content, .ua-alter-grid .ua-style-3 .ua-item:nth-child(5n+3) .ua-content, .ua-alter-grid .ua-style-3 .ua-item:nth-child(5n+4) .ua-content, .ua-alter-grid .ua-style-3 .ua-item:nth-child(5n+5) .ua-content {
      padding: 20px 25px; }
    .ua-alter-grid .ua-style-3 .ua-item:nth-child(5n+2) .ua-title, .ua-alter-grid .ua-style-3 .ua-item:nth-child(5n+3) .ua-title, .ua-alter-grid .ua-style-3 .ua-item:nth-child(5n+4) .ua-title, .ua-alter-grid .ua-style-3 .ua-item:nth-child(5n+5) .ua-title {
      line-height: 1.3;
      font-size: 18px; }
    .ua-alter-grid .ua-style-3 .ua-item:nth-child(5n+2) .ua-category,
    .ua-alter-grid .ua-style-3 .ua-item:nth-child(5n+2) .ua-text-wrap, .ua-alter-grid .ua-style-3 .ua-item:nth-child(5n+3) .ua-category,
    .ua-alter-grid .ua-style-3 .ua-item:nth-child(5n+3) .ua-text-wrap, .ua-alter-grid .ua-style-3 .ua-item:nth-child(5n+4) .ua-category,
    .ua-alter-grid .ua-style-3 .ua-item:nth-child(5n+4) .ua-text-wrap, .ua-alter-grid .ua-style-3 .ua-item:nth-child(5n+5) .ua-category,
    .ua-alter-grid .ua-style-3 .ua-item:nth-child(5n+5) .ua-text-wrap {
      display: none; } }

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .ua-alter-grid .ua-style-1 {
    grid-template-columns: repeat(2, 1fr); }
  .ua-alter-grid .ua-style-2.ua-post-grid {
    grid-template-columns: repeat(6, 1fr); }
  .ua-alter-grid .ua-style-2 .ua-item:nth-child(4n+1) {
    grid-column: span 6/auto; }
    .ua-alter-grid .ua-style-2 .ua-item:nth-child(4n+1) .ua-item-box {
      display: flex; }
    .ua-alter-grid .ua-style-2 .ua-item:nth-child(4n+1) .ua-category a {
      font-size: 12px; }
    .ua-alter-grid .ua-style-2 .ua-item:nth-child(4n+1) .ua-title {
      margin-bottom: 20px;
      font-size: 16px;
      flex-grow: 1; }
    .ua-alter-grid .ua-style-2 .ua-item:nth-child(4n+1) .ua-text-wrap .ua-text {
      font-size: 14px; }
  .ua-alter-grid .ua-style-2 .ua-item:nth-child(4n+2), .ua-alter-grid .ua-style-2 .ua-item:nth-child(4n+3), .ua-alter-grid .ua-style-2 .ua-item:nth-child(4n+4) {
    grid-column: span 6/auto; }
    .ua-alter-grid .ua-style-2 .ua-item:nth-child(4n+2) .ua-item-box, .ua-alter-grid .ua-style-2 .ua-item:nth-child(4n+3) .ua-item-box, .ua-alter-grid .ua-style-2 .ua-item:nth-child(4n+4) .ua-item-box {
      display: flex; }
    .ua-alter-grid .ua-style-2 .ua-item:nth-child(4n+2) .ua-img-wrap .ua-main-img, .ua-alter-grid .ua-style-2 .ua-item:nth-child(4n+3) .ua-img-wrap .ua-main-img, .ua-alter-grid .ua-style-2 .ua-item:nth-child(4n+4) .ua-img-wrap .ua-main-img {
      width: 140px; }
    .ua-alter-grid .ua-style-2 .ua-item:nth-child(4n+2) .ua-content, .ua-alter-grid .ua-style-2 .ua-item:nth-child(4n+3) .ua-content, .ua-alter-grid .ua-style-2 .ua-item:nth-child(4n+4) .ua-content {
      padding: 20px; }
    .ua-alter-grid .ua-style-2 .ua-item:nth-child(4n+2) .ua-title, .ua-alter-grid .ua-style-2 .ua-item:nth-child(4n+3) .ua-title, .ua-alter-grid .ua-style-2 .ua-item:nth-child(4n+4) .ua-title {
      margin-bottom: 10px;
      font-size: 14px; }
    .ua-alter-grid .ua-style-2 .ua-item:nth-child(4n+2) .ua-category,
    .ua-alter-grid .ua-style-2 .ua-item:nth-child(4n+2) .ua-text-wrap, .ua-alter-grid .ua-style-2 .ua-item:nth-child(4n+3) .ua-category,
    .ua-alter-grid .ua-style-2 .ua-item:nth-child(4n+3) .ua-text-wrap, .ua-alter-grid .ua-style-2 .ua-item:nth-child(4n+4) .ua-category,
    .ua-alter-grid .ua-style-2 .ua-item:nth-child(4n+4) .ua-text-wrap {
      display: none; }
  .ua-alter-grid .ua-style-3 .ua-item:nth-child(5n+1) {
    grid-column: span 6/auto; }
    .ua-alter-grid .ua-style-3 .ua-item:nth-child(5n+1) .ua-content {
      padding: 19px 40px 20px; }
    .ua-alter-grid .ua-style-3 .ua-item:nth-child(5n+1) .ua-title {
      margin-bottom: 10px;
      font-size: 16px; }
    .ua-alter-grid .ua-style-3 .ua-item:nth-child(5n+1) .ua-text-wrap {
      margin-bottom: 20px; }
      .ua-alter-grid .ua-style-3 .ua-item:nth-child(5n+1) .ua-text-wrap .ua-text {
        font-size: 13px; }
  .ua-alter-grid .ua-style-3 .ua-item:nth-child(5n+2), .ua-alter-grid .ua-style-3 .ua-item:nth-child(5n+3), .ua-alter-grid .ua-style-3 .ua-item:nth-child(5n+4), .ua-alter-grid .ua-style-3 .ua-item:nth-child(5n+5) {
    grid-column: span 3/auto; }
    .ua-alter-grid .ua-style-3 .ua-item:nth-child(5n+2) .ua-content, .ua-alter-grid .ua-style-3 .ua-item:nth-child(5n+3) .ua-content, .ua-alter-grid .ua-style-3 .ua-item:nth-child(5n+4) .ua-content, .ua-alter-grid .ua-style-3 .ua-item:nth-child(5n+5) .ua-content {
      padding: 19px 40px 20px; }
    .ua-alter-grid .ua-style-3 .ua-item:nth-child(5n+2) .ua-title, .ua-alter-grid .ua-style-3 .ua-item:nth-child(5n+3) .ua-title, .ua-alter-grid .ua-style-3 .ua-item:nth-child(5n+4) .ua-title, .ua-alter-grid .ua-style-3 .ua-item:nth-child(5n+5) .ua-title {
      margin-bottom: 10px;
      font-size: 16px; }
    .ua-alter-grid .ua-style-3 .ua-item:nth-child(5n+2) .ua-category,
    .ua-alter-grid .ua-style-3 .ua-item:nth-child(5n+2) .ua-text-wrap, .ua-alter-grid .ua-style-3 .ua-item:nth-child(5n+3) .ua-category,
    .ua-alter-grid .ua-style-3 .ua-item:nth-child(5n+3) .ua-text-wrap, .ua-alter-grid .ua-style-3 .ua-item:nth-child(5n+4) .ua-category,
    .ua-alter-grid .ua-style-3 .ua-item:nth-child(5n+4) .ua-text-wrap, .ua-alter-grid .ua-style-3 .ua-item:nth-child(5n+5) .ua-category,
    .ua-alter-grid .ua-style-3 .ua-item:nth-child(5n+5) .ua-text-wrap {
      display: none; } }
