.ua-alex-carousel {
  position: relative; }
  .ua-alex-carousel .ua-item {
    position: relative;
    overflow: hidden;
    display: flex;
    height: 300px; }
    .ua-alex-carousel .ua-item:hover .ua-button-wrap {
      margin-bottom: 0px !important; }
    .ua-alex-carousel .ua-item:hover .ua-readmore {
      background: #fff; }
      .ua-alex-carousel .ua-item:hover .ua-readmore .ua-readmore-icon:before {
        width: 50px;
        background: #2B2D42; }
      .ua-alex-carousel .ua-item:hover .ua-readmore .ua-readmore-icon span:before,
      .ua-alex-carousel .ua-item:hover .ua-readmore .ua-readmore-icon span:after {
        width: 10px;
        transition-delay: .3s;
        background: #2B2D42;
        opacity: 1; }
    .ua-alex-carousel .ua-item:hover .ua-post-format a {
      transform: translateY(0);
      opacity: 1; }
  .ua-alex-carousel .ua-meta {
    position: absolute;
    top: 15px;
    left: 15px;
    display: flex;
    align-items: center; }
    .ua-alex-carousel .ua-meta .ua-author-img img {
      border-radius: 80px;
      margin-right: 10px; }
    .ua-alex-carousel .ua-meta .ua-author-name a {
      color: #dcdcdc;
      font-size: 16px;
      text-transform: capitalize;
      font-weight: 500; }
    .ua-alex-carousel .ua-meta .ua-date,
    .ua-alex-carousel .ua-meta .ua-post-time {
      color: #dcdcdc;
      font-size: 12px;
      font-weight: 500; }
    .ua-alex-carousel .ua-meta .ua-post-time {
      margin-left: 5px; }
      .ua-alex-carousel .ua-meta .ua-post-time i {
        margin-right: 2px; }
  .ua-alex-carousel .ua-content-wrap {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: auto;
    background: rgba(43, 45, 66, 0.3); }
  .ua-alex-carousel .ua-image-wrap {
    width: 100%; }
    .ua-alex-carousel .ua-image-wrap .ua-img {
      position: relative;
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .ua-alex-carousel .ua-content {
    padding: 20px; }
  .ua-alex-carousel .ua-title {
    font-size: 18px;
    font-weight: 600;
    display: inline;
    margin: 0; }
    .ua-alex-carousel .ua-title a {
      color: #fff; }
  .ua-alex-carousel .ua-category {
    margin-bottom: 5px; }
    .ua-alex-carousel .ua-category a {
      font-size: 15px;
      font-weight: 500;
      color: rgba(255, 255, 255, 0.5); }
  .ua-alex-carousel .ua-button-wrap {
    margin-bottom: -50px;
    transition: margin-bottom 0.5s cubic-bezier(0.25, 0.85, 0.35, 0.98); }
  .ua-alex-carousel .ua-readmore {
    display: block;
    position: relative;
    padding: 25px 20px;
    transition: all .3s ease; }
    .ua-alex-carousel .ua-readmore .ua-readmore-icon {
      position: relative; }
      .ua-alex-carousel .ua-readmore .ua-readmore-icon:before {
        content: '';
        position: absolute;
        left: 0;
        height: 2px;
        width: 25px;
        background: rgba(255, 255, 255, 0.5);
        transition: all .5s ease; }
      .ua-alex-carousel .ua-readmore .ua-readmore-icon span:before,
      .ua-alex-carousel .ua-readmore .ua-readmore-icon span:after {
        content: '';
        position: absolute;
        left: 40px;
        width: 10px;
        height: 2px;
        background: transparent;
        border-radius: 10px;
        transition: all .5s ease;
        opacity: 0; }
      .ua-alex-carousel .ua-readmore .ua-readmore-icon span:after {
        transform: rotate(-45deg);
        bottom: -6px; }
      .ua-alex-carousel .ua-readmore .ua-readmore-icon span:before {
        transform: rotate(45deg);
        top: -4px; }
  .ua-alex-carousel .ua-content-left .ua-content-wrap {
    left: 0; }
  .ua-alex-carousel .ua-content-right .ua-content-wrap {
    right: 0; }
  .ua-alex-carousel .ua-post-format {
    position: absolute;
    right: 0;
    top: 0;
    margin: 15px; }
    .ua-alex-carousel .ua-post-format a {
      padding: 16px 16px;
      display: inline-flex;
      color: #fff;
      font-size: 16px;
      transform: translateY(15px);
      opacity: 0;
      transition: all 0.5s cubic-bezier(0.25, 0.85, 0.35, 0.98); }

.ua-global-link-yes .ua-alex-carousel .ua-item:hover {
  cursor: pointer; }

.elementor-widget-ua-alex-carousel .ua-arrows-container {
  -webkit-transform: translate(var(--ua-alex-carousel-arrows-ncx, 0), var(--ua-alex-carousel-arrows-ncy, 40));
  transform: translate(var(--ua-alex-carousel-arrows-ncx, 0), var(--ua-alex-carousel-arrows-ncy, 40)); }

.elementor-widget-ua-alex-carousel .ua-dots-container {
  -webkit-transform: translate(var(--ua-alex-carousel-dots-nnx, 0), var(--ua-alex-carousel-dots-nny, 30));
  transform: translate(var(--ua-alex-carousel-dots-nnx, 0), var(--ua-alex-carousel-dots-nny, 30)); }

.elementor-widget-ua-alex-carousel .ua-arrows-dots-container {
  -webkit-transform: translate(var(--ua-alex-carousel-both-ncx, 0), var(--ua-alex-carousel-both-ncy, 40));
  transform: translate(var(--ua-alex-carousel-both-ncx, 0), var(--ua-alex-carousel-both-ncy, 40)); }

.elementor-widget-ua-alex-carousel .ua-arrows-fraction-container {
  -webkit-transform: translate(var(--ua-alex-carousel-arrows-fraction-ncx, 0), var(--ua-alex-carousel-arrows-fraction-ncy, 40));
  transform: translate(var(--ua-alex-carousel-arrows-fraction-ncx, 0), var(--ua-alex-carousel-arrows-fraction-ncy, 40)); }

.elementor-widget-ua-alex-carousel .ua-position-center-left .ua-arrows-container,
.elementor-widget-ua-alex-carousel .ua-position-center-right .ua-arrows-container {
  -webkit-transform: translate(var(--ua-alex-carousel-arrows-ncx, 0), var(--ua-alex-carousel-arrows-ncy, 0)) rotate(90deg);
  transform: translate(var(--ua-alex-carousel-arrows-ncx, 0), var(--ua-alex-carousel-arrows-ncy, 0)) rotate(90deg); }

.elementor-widget-ua-alex-carousel .ua-position-center-left .ua-dots-container,
.elementor-widget-ua-alex-carousel .ua-position-center-right .ua-dots-container {
  -webkit-transform: translate(var(--ua-alex-carousel-dots-nnx, 0), var(--ua-alex-carousel-dots-nny, 0)) rotate(90deg);
  transform: translate(var(--ua-alex-carousel-dots-nnx, 0), var(--ua-alex-carousel-dots-nny, 0)) rotate(90deg); }

.elementor-widget-ua-alex-carousel .ua-position-center-left .ua-arrows-dots-container,
.elementor-widget-ua-alex-carousel .ua-position-center-right .ua-arrows-dots-container {
  -webkit-transform: translate(var(--ua-alex-carousel-both-ncx, 0), var(--ua-alex-carousel-both-ncy, 0)) rotate(90deg);
  transform: translate(var(--ua-alex-carousel-both-ncx, 0), var(--ua-alex-carousel-both-ncy, 0)) rotate(90deg); }

.elementor-widget-ua-alex-carousel .ua-position-center-left .ua-arrows-fraction-container,
.elementor-widget-ua-alex-carousel .ua-position-center-right .ua-arrows-fraction-container {
  -webkit-transform: translate(var(--ua-alex-carousel-arrows-fraction-ncx, 0), var(--ua-alex-carousel-arrows-fraction-ncy, 0)) rotate(90deg);
  transform: translate(var(--ua-alex-carousel-arrows-fraction-ncx, 0), var(--ua-alex-carousel-arrows-fraction-ncy, 0)) rotate(90deg); }

@media (min-width: 1024px) {
  .ua-alex-carousel .ua-content-wrap {
    width: 60%; } }
