@charset "UTF-8";
@font-face {
  font-family: "unique-addons";
  src: url("../fonts/unique-addons.woff2") format("woff2"), url("../fonts/unique-addons.ttf") format("truetype"), url("../fonts/unique-addons.woff") format("woff"), url("../fonts/unique-addons.svg#unique-addons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }

[class^="ua-icon-"], [class*=" ua-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "unique-addons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.ua-icon-foxico-slider:before {
  content: ""; }

.ua-icon-reading-progress-circle:before {
  content: ""; }

.ua-icon-pholox-slider:before {
  content: ""; }

.ua-icon-sline-slider:before {
  content: ""; }

.ua-icon-berlin-slider:before {
  content: ""; }

.ua-icon-carbon-slider:before {
  content: ""; }

.ua-icon-reading-progress:before {
  content: ""; }

.ua-icon-atlas-slider:before {
  content: ""; }

.ua-icon-category-carousel:before {
  content: ""; }

.ua-icon-crystal-slider:before {
  content: ""; }

.ua-icon-vertex-slider:before {
  content: ""; }

.ua-icon-camux-slider:before {
  content: ""; }

.ua-icon-static-social-count:before {
  content: ""; }

.ua-icon-welsh-list:before {
  content: ""; }

.ua-icon-amox-carousel:before {
  content: ""; }

.ua-icon-amox-grid:before {
  content: ""; }

.ua-icon-skide-slider:before {
  content: ""; }

.ua-icon-recent-comments:before {
  content: ""; }

.ua-icon-pixina-grid:before {
  content: ""; }

.ua-icon-classic-list:before {
  content: ""; }

.ua-icon-noxe-slider:before {
  content: ""; }

.ua-icon-grove-timeline:before {
  content: ""; }

.ua-icon-post-calendar:before {
  content: ""; }

.ua-icon-wixer-carousel:before {
  content: ""; }

.ua-icon-wixer-grid:before {
  content: ""; }

.ua-icon-pixina-carousel:before {
  content: ""; }

.ua-icon-soft-timeline:before {
  content: ""; }

.ua-icon-hansel-slider:before {
  content: ""; }

.ua-icon-holux-tabs:before {
  content: ""; }

.ua-icon-forbes-tabs:before {
  content: ""; }

.ua-icon-snap-timeline:before {
  content: ""; }

.ua-icon-optick-slider:before {
  content: ""; }

.ua-icon-buzz-list:before {
  content: ""; }

.ua-icon-buzz-list-carousel:before {
  content: ""; }

.ua-icon-newsletter:before {
  content: ""; }

.ua-icon-scott-list:before {
  content: ""; }

.ua-icon-fanel-list:before {
  content: ""; }

.ua-icon-social-share:before {
  content: ""; }

.ua-icon-social-link:before {
  content: ""; }

.ua-icon-tiny-list:before {
  content: ""; }

.ua-icon-author:before {
  content: ""; }

.ua-icon-timeline:before {
  content: ""; }

.ua-icon-featured-list:before {
  content: ""; }

.ua-icon-tag-cloud:before {
  content: ""; }

.ua-icon-post-accordion:before {
  content: ""; }

.ua-icon-harold-carousel:before {
  content: ""; }

.ua-icon-post-category:before {
  content: ""; }

.ua-icon-news-ticker:before {
  content: ""; }

.ua-icon-kalon-carousel:before {
  content: ""; }

.ua-icon-kalon-grid:before {
  content: ""; }

.ua-icon-paradox-slider:before {
  content: ""; }

.ua-icon-alice-carousel:before {
  content: ""; }

.ua-icon-alice-grid:before {
  content: ""; }

.ua-icon-harold-list:before {
  content: ""; }

.ua-icon-alex-carousel:before {
  content: ""; }

.ua-icon-alex-grid:before {
  content: ""; }

.ua-icon-ramble-grid:before {
  content: ""; }

.ua-icon-ramble-carousel:before {
  content: ""; }

.ua-icon-maple-carousel:before {
  content: ""; }

.ua-icon-elite-carousel:before {
  content: ""; }

.ua-icon-alter-carousel:before {
  content: ""; }

.ua-icon-alter-grid:before {
  content: ""; }

.ua-icon-elite-grid:before {
  content: ""; }

.ua-icon-hazel-carousel:before {
  content: ""; }

.ua-icon-hazel-grid:before {
  content: ""; }

.ua-icon-maple-grid:before {
  content: ""; }

.ua-icon-animations:before {
  content: ""; }

.ua-icon-arrow-left-0:before {
  content: ""; }

.ua-icon-arrow-right-0:before {
  content: ""; }

.ua-icon-arrow-left-1:before {
  content: ""; }

.ua-icon-arrow-right-1:before {
  content: ""; }

.ua-icon-arrow-left-2:before {
  content: ""; }

.ua-icon-arrow-right-2:before {
  content: ""; }

.ua-icon-arrow-left-3:before {
  content: ""; }

.ua-icon-arrow-right-3:before {
  content: ""; }

.ua-icon-arrow-left-4:before {
  content: ""; }

.ua-icon-arrow-right-4:before {
  content: ""; }

.ua-icon-arrow-left-5:before {
  content: ""; }

.ua-icon-arrow-right-5:before {
  content: ""; }

.ua-icon-arrow-left-6:before {
  content: ""; }

.ua-icon-arrow-right-6:before {
  content: ""; }

.ua-icon-arrow-left-7:before {
  content: ""; }

.ua-icon-arrow-right-7:before {
  content: ""; }

.ua-icon-arrow-left-8:before {
  content: ""; }

.ua-icon-arrow-right-8:before {
  content: ""; }

.ua-icon-arrow-left-9:before {
  content: ""; }

.ua-icon-arrow-right-9:before {
  content: ""; }

.ua-icon-arrow-left-10:before {
  content: ""; }

.ua-icon-arrow-right-10:before {
  content: ""; }

.ua-icon-arrow-left-11:before {
  content: ""; }

.ua-icon-arrow-right-11:before {
  content: ""; }

.ua-icon-arrow-left-12:before {
  content: ""; }

.ua-icon-arrow-right-12:before {
  content: ""; }

.ua-icon-arrow-left-13:before {
  content: ""; }

.ua-icon-arrow-right-13:before {
  content: ""; }

.ua-icon-arrow-left-14:before {
  content: ""; }

.ua-icon-arrow-right-14:before {
  content: ""; }

.ua-icon-arrow-left-15:before {
  content: ""; }

.ua-icon-arrow-right-15:before {
  content: ""; }

.ua-icon-arrow-left-16:before {
  content: ""; }

.ua-icon-arrow-right-16:before {
  content: ""; }

.ua-icon-arrow-left-17:before {
  content: ""; }

.ua-icon-arrow-right-17:before {
  content: ""; }

.ua-icon-arrow-left-18:before {
  content: ""; }

.ua-icon-arrow-right-18:before {
  content: ""; }

.ua-icon-arrow-up-1:before {
  content: ""; }

.ua-icon-arrow-down-1:before {
  content: ""; }

.ua-icon-arrow-up-2:before {
  content: ""; }

.ua-icon-arrow-down-2:before {
  content: ""; }

.ua-icon-arrow-up-3:before {
  content: ""; }

.ua-icon-arrow-down-3:before {
  content: ""; }

.ua-icon-arrow-up-4:before {
  content: ""; }

.ua-icon-arrow-down-4:before {
  content: ""; }

.ua-icon-arrow-up-5:before {
  content: ""; }

.ua-icon-arrow-down-5:before {
  content: ""; }

.ua-icon-arrow-up-7:before {
  content: ""; }

.ua-icon-arrow-down-7:before {
  content: ""; }

.ua-icon-arrow-up-8:before {
  content: ""; }

.ua-icon-arrow-down-8:before {
  content: ""; }

.ua-icon-arrow-left-circle-1:before {
  content: ""; }

.ua-icon-arrow-right-circle-1:before {
  content: ""; }

.ua-icon-arrow-left-circle-2:before {
  content: ""; }

.ua-icon-arrow-right-circle-2:before {
  content: ""; }

.ua-icon-arrow-left-circle-3:before {
  content: ""; }

.ua-icon-arrow-right-circle-3:before {
  content: ""; }

.ua-icon-arrow-left-circle-4:before {
  content: ""; }

.ua-icon-arrow-right-circle-4:before {
  content: ""; }

.ua-icon-arrow-left-square-1:before {
  content: ""; }

.ua-icon-arrow-right-square-1:before {
  content: ""; }

.ua-icon-unique-addons:before {
  content: ""; }

.ua-icon-hexagon-zigzag:before {
  content: ""; }

.ua-icon-bulge-rectangle:before {
  content: ""; }

.ua-icon-hexagon-radius2:before {
  content: ""; }

.ua-icon-hexagon:before {
  content: ""; }

.ua-icon-hexagon-radius:before {
  content: ""; }

.ua-icon-g2:before {
  content: ""; }

.ua-icon-plus-2:before {
  content: ""; }

.ua-icon-user:before {
  content: ""; }

.ua-icon-eye:before {
  content: ""; }

.ua-icon-email:before {
  content: ""; }

.ua-icon-meneame:before {
  content: ""; }

.ua-icon-moimir:before {
  content: ""; }

.ua-icon-instapaper:before {
  content: ""; }

.ua-icon-surfingbird:before {
  content: ""; }

.ua-icon-livejournal:before {
  content: ""; }

.ua-icon-baidu:before {
  content: ""; }

.ua-icon-line:before {
  content: ""; }

.ua-icon-twitter:before {
  content: ""; }

.ua-icon-linkedin:before {
  content: ""; }

.ua-icon-github:before {
  content: ""; }

.ua-icon-youtube:before {
  content: ""; }

.ua-icon-xing:before {
  content: ""; }

.ua-icon-instagram:before {
  content: ""; }

.ua-icon-tumblr:before {
  content: ""; }

.ua-icon-apple:before {
  content: ""; }

.ua-icon-android:before {
  content: ""; }

.ua-icon-dribbble:before {
  content: ""; }

.ua-icon-skype:before {
  content: ""; }

.ua-icon-vk:before {
  content: ""; }

.ua-icon-weibo:before {
  content: ""; }

.ua-icon-renren:before {
  content: ""; }

.ua-icon-wordpress:before {
  content: ""; }

.ua-icon-google:before {
  content: ""; }

.ua-icon-delicious:before {
  content: ""; }

.ua-icon-digg:before {
  content: ""; }

.ua-icon-soundcloud:before {
  content: ""; }

.ua-icon-wechat:before {
  content: ""; }

.ua-icon-pinterest:before {
  content: ""; }

.ua-icon-whatsapp:before {
  content: ""; }

.ua-icon-odnoklassniki:before {
  content: ""; }

.ua-icon-pocket:before {
  content: ""; }

.ua-icon-safari:before {
  content: ""; }

.ua-icon-chrome:before {
  content: ""; }

.ua-icon-firefox:before {
  content: ""; }

.ua-icon-opera:before {
  content: ""; }

.ua-icon-ie:before {
  content: ""; }

.ua-icon-vimeo:before {
  content: ""; }

.ua-icon-reddit:before {
  content: ""; }

.ua-icon-edge:before {
  content: ""; }

.ua-icon-blogger:before {
  content: ""; }

.ua-icon-facebook:before {
  content: ""; }

.ua-icon-messenger:before {
  content: ""; }

.ua-icon-googleplay:before {
  content: ""; }

.ua-icon-mix:before {
  content: ""; }

.ua-icon-telegram:before {
  content: ""; }

.ua-icon-uikit:before {
  content: ""; }

.ua-icon-viber:before {
  content: ""; }

.ua-icon-flipboard:before {
  content: ""; }

.ua-icon-buffer:before {
  content: ""; }

.ua-icon-evernote:before {
  content: ""; }

.ua-icon-plus:before {
  content: ""; }

.ua-icon-search:before {
  content: ""; }

.ua-icon-edit:before {
  content: ""; }

.ua-icon-video-player:before {
  content: ""; }

.ua-icon-post:before {
  content: ""; }

.ua-icon-picture:before {
  content: ""; }

.ua-icon-music:before {
  content: ""; }

.ua-icon-video:before {
  content: ""; }

.ua-icon-code:before {
  content: ""; }

.ua-icon-cart:before {
  content: ""; }

.ua-icon-location:before {
  content: ""; }

.ua-icon-clock:before {
  content: ""; }

.ua-icon-calendar:before {
  content: ""; }

.ua-icon-bubble:before {
  content: ""; }

.ua-icon-bubbles:before {
  content: ""; }

.ua-icon-quote:before {
  content: ""; }

.ua-icon-spinner:before {
  content: ""; }

.ua-icon-loading:before {
  content: ""; }

.ua-icon-spinner-2:before {
  content: ""; }

.ua-icon-enlarge:before {
  content: ""; }

.ua-icon-lock:before {
  content: ""; }

.ua-icon-menu:before {
  content: ""; }

.ua-icon-website:before {
  content: ""; }

.ua-icon-url:before {
  content: ""; }

.ua-icon-link:before {
  content: ""; }

.ua-icon-star-empty:before {
  content: ""; }

.ua-icon-star-half:before {
  content: ""; }

.ua-icon-star-full:before {
  content: ""; }

.ua-icon-heart-full:before {
  content: ""; }

.ua-icon-heart-empty:before {
  content: ""; }

.ua-icon-gallery:before {
  content: ""; }

.ua-icon-question:before {
  content: ""; }

.ua-icon-plus3:before {
  content: ""; }

.ua-icon-checkmark:before {
  content: ""; }

.ua-icon-new-tab:before {
  content: ""; }

.ua-icon-behance:before {
  content: ""; }

.ua-icon-yelp:before {
  content: ""; }
